body {
  background-image: url("/assets/images/annie-spratt-wuc-KEIBrdE-unsplash.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
